/* Acordeon styles */
.tabbutton1 {
  text-align: center;
}
.tabbutton1-content {
  max-height: 0;
  overflow: hidden;
  text-align: center;
  /* background: #0080ff; */
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

.tabbutton1-content p {
  margin: .5em;
}
/* Size of expand */
input:checked ~ .tabbutton1-content {
  max-height: 20em;
}

.tabbutton2 {
  text-align: center;
}
.tabbutton2-content {
  max-height: 0;
  overflow: hidden;
  text-align: center;
  /* background: #0080ff; */
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

.tabbutton2-content p {
  margin: .5em;
}
/* Size of expand */
input:checked ~ .tabbutton2-content {
  max-height: 20em;
}

.tabbutton3 {
  text-align: center;
}
.tabbutton3-content {
  max-height: 0;
  overflow: hidden;
  text-align: center;
  /* background: #0080ff; */
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

.tabbutton3-content p {
  margin: .5em;
}
/* Size of expand */
input:checked ~ .tabbutton3-content {
  max-height: 20em;
}

.tabbutton4 {
  text-align: center;
}
.tabbutton4-content {
  max-height: 0;
  overflow: hidden;
  text-align: center;
  /* background: #0080ff; */
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

.tabbutton4-content p {
  margin: .5em;
}
/* Size of expand */
input:checked ~ .tabbutton4-content {
  max-height: 20em;
}

.tabbutton5 {
  text-align: center;
}
.tabbutton5-content {
  max-height: 0;
  overflow: hidden;
  text-align: center;
  /* background: #0080ff; */
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

.tabbutton5-content p {
  margin: .5em;
}
/* Size of expand */
input:checked ~ .tabbutton5-content {
  max-height: 20em;
}

.tabbutton6 {
  text-align: center;
}
.tabbutton6-content {
  max-height: 0;
  overflow: hidden;
  text-align: center;
  /* background: #0080ff; */
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

.tabbutton6-content p {
  margin: .5em;
}
/* Size of expand */
input:checked ~ .tabbutton6-content {
  max-height: 20em;
}

input {
  /* position: absolute; */
  opacity: 0;
  z-index: -1;
}

/* Icon */
label::after {
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}



.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count:1;
	animation-timing-function: ease-in;
	animation-duration: 15s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}