.main_background {
  background-image: url("../images/new/bliss_main.png");
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.main_background2 {
  background-image: url("../images/new/bliss_main_bg.png");
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.blur_main_background {
  background-image: url("../images/new/bliss_main.png");
  background-position: center bottom;
  background-size: cover;
  width: 100%;
  height: 100vh;
  filter: blur(16px);
}

.community_banner {
  background: #FC466B;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#3F5EFB), to(#FC466B));
  background: -o-linear-gradient(left, #3F5EFB, #FC466B);
  background: linear-gradient(to right, #3F5EFB, #FC466B);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.sponser-card {
  height: 18rem;
}

.nav-link {
  cursor: pointer;
}

.conditional {
  margin: 1em 0 0.5em;
  border-top: 2px dotted #eee;
  padding-top: 1em;
  color: rgba(0, 0, 0, .7);
  font-size: .9em;
}

.conditional>.conditional {
  color: rgba(0, 0, 0, .5);
}

label {
  vertical-align: middle;
  position: relative;
}

label+label {
  margin-left: 1em;
}

input+span {
  position: absolute;
  left: 0;
  top: 4px;
  width: 15px;
  height: 15px;
  border: 2px solid #6ab5a8;
}

input[type=radio]+span {
  border-radius: 50%;
}

input[type=radio]:checked+span {
  background: rgba(106, 181, 169, 1);
  background: -o-radial-gradient(center, ellipse cover, rgba(106, 181, 169, 1) 44%, rgba(255, 255, 255, 1) 45%, rgba(255, 255, 255, 1) 46%, rgba(255, 255, 255, 1) 55%);
  background: -o-radial-gradient(center, ellipse, rgba(106, 181, 169, 1) 44%, rgba(255, 255, 255, 1) 45%, rgba(255, 255, 255, 1) 46%, rgba(255, 255, 255, 1) 55%);
  background: radial-gradient(ellipse at center, rgba(106, 181, 169, 1) 44%, rgba(255, 255, 255, 1) 45%, rgba(255, 255, 255, 1) 46%, rgba(255, 255, 255, 1) 55%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ab5a9', endColorstr='#ffffff', GradientType=1);
}

input[type=checkbox]:checked+span:after {
  content: "\00d7";
  font-weight: bold;
  position: absolute;
  top: -7px;
  left: 1px;
  font-size: 20px;
  color: #6ab5a8;
}

input[type=radio],
input[type=checkbox] {
  /*hide the radio button*/
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

/* select, */
/* input[type=text] { */
/* border-radius: 5px; */
/* padding: 6px 10px; */
/* border: 2px solid #9fc7c0; */
/* font-size: 15px; */
/* } */
input[type="radio"] {
  background-color: transparent;
  border: .0625em solid #0080ff;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 0 0 black;
  box-shadow: inset 0 0 0 0 black;
  cursor: pointer;
  font: inherit;
  height: 1em;
  outline: none;
  width: 1em;
  -moz-appearance: none;
  -webkit-appearance: none;

}

input[type="radio"]:checked {
  background-color: grey;
  -webkit-box-shadow: inset 0 0 0 .1875em white;
  box-shadow: inset 0 0 0 .1875em white;
  -webkit-transition: background .15s, box-shadow .1s;
  -webkit-transition: background .15s, -webkit-box-shadow .1s;
  transition: background .15s, -webkit-box-shadow .1s;
  -o-transition: background .15s, box-shadow .1s;
  transition: background .15s, box-shadow .1s;
  transition: background .15s, box-shadow .1s, -webkit-box-shadow .1s;
}

#wrap_a {
  max-width: 800px;
  margin: 0 auto;
}

#output_a {
  margin: 2em 1em;
  text-align: left;
  /* font-family: monospace; */
  font-size: 1.1em;
  line-height: 1.5;
  color: #fc9;
}

#output_a .title {
  color: white;
  text-align: center;
}

#output_a ul {
  color: white;
}

#output_a ul li {
  margin: 1em;
}

#output_a ul a {
  color: lightblue;
  text-decoration: none;
}

#output_a ul a.win {
  color: limegreen;
}

#output_a ul a.lose {
  color: red;
}

#output_a ul a:hover {
  color: white;
}

#output_a .inv {
  color: #ca9;
  font-size: 0.8em;
  padding-top: 2em;
}




.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  -webkit-transition: 25ms ease-out;
  -o-transition: 25ms ease-out;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}


.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}


.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}

.resp-sharing-button--vk {
  background-color: #507299;
  border-color: #507299;
}

.resp-sharing-button--vk:hover .resp-sharing-button--vk:active {
  background-color: #43648c;
  border-color: #43648c;
}

.resp-sharing-button--telegram {
  background-color: #54A9EB;
}

.resp-sharing-button--telegram:hover {
  background-color: #4B97D1;
}

#bp-web-widget-container {
  width:70%;
  }

#bp-web-widget-container {
  position: fixed !important;
  height: 78vh !important;
  z-index: 9999 !important;
  }

.bp-widget-widget {
  bottom: 92px !important;
  height: 78vh !important;
}

div[class^="opencollective-banner"] {
  height:200px !important;
}

.opencollective-banner {
  height:200px !important;
}

iframe[id^="banner-iframe-"] {
  height:200px !important;
}

section[id^="backers"] {
  font-weight: bold !important;
  color: #c9c9c9 !important;
  font-size: 34px !important;
}

div[class^="opencollective-banner"] h1 {
  font-weight: bold !important;
  color: #fff !important;
  font-size: 54px !important;
}

div[class^="opencollective-banner"] h2 {
  font-weight: bold !important;
  color: #c9c9c9 !important;
  font-size: 34px !important;
}

div[class^="opencollective-banner"] a {
  color: #2289ff !important;
  font-size: 34px !important;
}

div[class^="MembersWithData__MembersContainer-sc-"] {
  height:100px !important;
}
