.team_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 50px;
  margin-top: 80px;
}

.image {
  width: 190px;
  height: auto;
  border-radius: 100%;
  margin: 0 auto 20px auto;
}

.team_item {
  text-align: center;
}

.team_data_text {
  margin: 0;
}