@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

.console_container {
    max-width: 800px;
    margin: 0 auto;
    height: 450px;
}

.console_header {
    background: linear-gradient(#f1f1f1 , #d3d3d3);
    width: 100%;
    height: 2rem;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.console_panel {
    height: 50vh;
    background: #27292c;
    padding: 1rem;
    overflow: scroll;
    border-radius: 0 0 10px 10px;
}

.console_action {
    margin-bottom: 10px;
    /* height: 350px; */
	text-align: left;
}

.console_command {
    width: 100%;
    height: 1.2rem;
    background: #27292c;
    color: #c86762;
    font-size: 16px;
    font-weight: 700;
}

input[type="text"] {
    width: 90%;
    background: #27292c;
    border: none;
    outline: none;
    color: white;
    margin-left: 5px;
    font-size: 1rem;
}

.console_output {
    color: white;
    font-weight: 300;
    margin-top: 5px;
    margin-left: 12px;
}
